/*Jory Eugene Pestorious*/

html {
  background-color: #000000;
}

#bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; removed for Android browser */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Background image for larger screens */
@media (min-width: 741px) {
  #bg {
    background-image: url(bg.jpg);
  }
}

/* Background image for smaller screens */
@media (max-width: 740px) {
  #bg {
     background-image: url(bg_mobile2.jpg);
  }
}

main {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

svg {
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.85);
  padding-right: 1.5vh;
  padding-left: 1.5vh;
  transition: transform ease-out 0.22s, fill ease-out 0.25s;
  width: 12vh;
}

svg:hover {
  fill: rgba(0, 0, 0, 0.35);
  transform: scale(0.97);
}

a:focus{
  outline: none;
}

a:focus svg {
  fill: rgba(0, 0, 0, 0.35);
  transform: scale(0.97);
}

a:active svg {
  fill: rgba(0, 0, 0, 0.0);
}
