/*Jory Eugene Pestorious*/

html {
  background-color: #000000;
}

#bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; removed for Android browser */
  -webkit-background-size: cover;
  background-size: cover;
}

/* Background image for larger screens */
@media (min-width: 741px) {
  #bg {
    background-image: url(jpg/bg.jpg);
  }
}

/* Background image for smaller screens */
@media (max-width: 740px) {
  #bg {
     background-image: url(jpg/bg_mobile.jpg);
  }
}

main {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

/*Background Change Icon Styling*/
#change {
  right: 2.5vh;
  bottom: 2.5vh;
  height: 7vh;
  width: 7vh;
  cursor: pointer;
  fill: rgba(252, 249, 202, 0.4);
  position: absolute;
  transition: transform ease-in 0.3s 0s, -webkit-transform ease-in 0.3s 0s;
  z-index: 1;
}

#change:hover {
  fill: rgba(244, 241, 203, 0.7);
  transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
}

#changeSpan:focus #change {
  fill: rgba(244, 241, 203, 0.7);
  outline: none;
}

/*Main Icons Styling*/
.main-icons {
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.85);
  margin: 0 1.4vh 0 1.4vh;
  transition: transform ease-out 0.22s 0s, -webkit-transform ease-out 0.22s 0s;
  width: 12vh;
}

.main-icons:hover {
  fill: rgba(0, 0, 0, 0.35);
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
}

main > a:focus{
  outline: none;
}

main > a:focus .main-icons {
  fill: rgba(0, 0, 0, 0.35);
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
}

#changeSpan:active #change, main > a:active .main-icons {
  fill: rgba(0, 0, 0, 0.0);
}
